@tailwind base;
@tailwind components;
@tailwind utilities;


.main_container {
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_container .your_result {
    width: 50%;
    padding: 4%;
}

.main_container .summary {
    width: 50%;
    padding: 4%;
}

@font-face {
    font-family: 'HankenGrotesk-normal';
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'HankenGrotesk-bold';
    src: url("../assets/fonts/HankenGrotesk-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'HankenGrotesk-extrabold';
    src: url("../assets/fonts/HankenGrotesk-ExtraBold.ttf");
    font-weight: 900;
}

@font-face {
    font-family: 'HankenGrotesk-medium';
    src: url("../assets/fonts/HankenGrotesk-Medium.ttf");
    font-size: medium;
}

@media (max-width: 640px){
    .main_container{
        width: 100%;
        height: 100%;
    }

    .main_container .your_result{
        width: 100%;
        height: 50%;
    }
    .main_container .summary{
        width: 100%;
        height: 50%;
    }
}